
<div ng-cloak ng-controller="assetEditController" >
   <!--<nav class="navbar navbar-inverse navbar-fixed-top fixed-top sticky-top bg-primary">
       <div class="navbar-header">
            <button class="float-left navbar-toggler" type="button" ng-click="historyBack()" >
                <span class="material-icons">arrow_back</span> 
            </button>
            <span class="navbar-brand" href="">{{title}}</span>
            <button class="float-right navbar-toggler" type="button" ng-click="saveAsset()" >
                <span class="material-icons">save</span> 
            </button>
       </div>
	</nav>-->
    <navbar title="title" back-action="historyBack()" ok-action="saveAsset()"></navbar>
    <div class="container height-stretch" role="main">
        <form >
            <ez-image-upload img="asset.thumbnail" ></ez-image-upload>
            <div >
                <div class="form-group">
                    <label for="name" class="" >Name</label>
                    <input id="name" class="form-control" ng-model="asset.name" type="text" class="form-control" placeholder="Name" >
                    <small class="form-text text-muted"></small>
                </div>
                <span>
                    <time ng-show="asset.updatedOn">
                        <span>Last Updated : {{  asset.updatedOn | amCalendar }}</span>
                    </time>
                </span>
            </div>
            <div class="form-group">
                <label for="desc" class="" >Description</label>
                <textarea id="desc" class="form-control" ng-maxlength="2000" ng-model="asset.description" type="text" placeholder="Description" >
                <small class="form-text text-muted"></small>
            </div>
            <!--Expiry<>-->

            <div layout="column" >

                <div ez-expando expando-title="Files">
                    <div layout="row" layout-align="center center">
                        
                        <md-button class="md-raised  md-primary md-icon-button" 
                            ngf-select ng-model="asset.file">
                            <i class="material-icons">file_upload</i>
                        </md-button>
                        <md-button ng-if="asset.Urls!=null && asset.Urls.length > 0" class="md-raised  md-primary md-icon-button">
                            <i class="material-icons">remove_red_eye</i>
                        </md-button>
                    </div>
                    <span>{{file.name}}</span>
                </div>    
                
                
            </div>
        
        </form>
        <div layout="row" layout-align="end center">
            <ez-json-viewer jsonobj="asset"></ez-json-viewer>
            <md-button ng-click="saveAsset()" >Save</md-button>
            <md-button ng-click="cancel()">Cancel</md-button>
        </div>
    
    </div>
</div>
