<div class="height-stretch">
    <nav class="navbar navbar-inverse navbar-fixed-top fixed-top sticky-top bg-primary">
        <div class="navbar-header">
            <a class="navbar-brand" href="">{{title}}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" ng-click="cancel()">
                <span class="material-icons">cancel</span>
            </button>
        </div>
    </nav>
    <div class=" media-list" role="main">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchTerm">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" ng-click="search()" ><i class="material-icons">search</i></button>
                    </span>
                </div>
            </li>
            <li ng-repeat="m in members" class="list-group-item">
                <member member="m" options="memberOptions"></member>
            </li>
        </ul>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()" >Cancel</button>
            <button class="btn btn-primary" ng-click="ok()" >Ok</button>
        </div>
    </div>
</div>