<div class="height-stretch" ng-controller="groupDetailController" >
    <nav class="navbar navbar-inverse navbar-fixed-top fixed-top sticky-top bg-primary">
		<span class="navbar-brand" href=""><a ng-click="historyBack()">
			<i class="material-icons">arrow_back</i></a> {{title}}
        </span>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<div class="container height-stretch" role="main">
        <form class="">
            <!--<ez-image-upload img="group.thumbnail" ></ez-image-upload>-->
            <div >
                <ez-image-upload img="group.thumbnail" ></ez-image-upload>
                <div class="form-group">
                    <label for="groupName" class="" >What's the group called!</label>
                    <input id="groupName" class="form-control" ng-model="group.name" type="text" class="form-control" placeholder="Group name" >
                    <small class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="groupDesc">More about this awesome group</label>
                    <textarea class="form-control" ng-model="group.description" ng-maxlength="150" id="groupDesc" rows="3"></textarea>
                </div>
            </div>
            <div>
                <ul class="list-group" >
                    <li class="list-group-item list-group-item-action ">
                        <div class="col-10">
                            <label>Group Members : {{group.members.length || '0'}}</label>
                        </div>
                         <div class="col-2">
                            <member-list btn-name="'Add Member'" selected-members="selectedMembers" done="onMembersSelected"></member-list>
                         </div>
                    </li>
                    <li ng-repeat="m in group.members" class="list-group-item list-item-block">
                        <list-item item="m" options="memberOptions"></member>
                    </li>
                </ul>
            </div>
        </form>
        <button class="btn btn-primary" ng-click="saveGroupDetails()">
            Save
        </button>
	</div>
    <div>
        
    </div>
    <!--
    <md-content layout-padding layout="column">
        
        <div class="chipsContactChips">
            <md-sub-header>Group Members : {{group.members.length || '0'}}</md-sub-header>
            <md-content class="md-padding autocomplete" layout="column">
                
                <md-contact-chips
                    ng-model="group.members"
                    md-contacts="querySearch($query)"
                    md-contact-name="_name"
                    md-contact-image="picture"
                    md-contact-email="userName"
                    md-require-match="true"
                    md-highlight-flags="i"
                    filter-selected="true"
                    md-separator-keys="separatorKeys"
                    placeholder="+Member">
                </md-contact-chips>
            </md-content>
        </div>
        <div>
            <md-button class="md-button md-raised md-primary accent" ng-click="saveGroupDetails()">
                Save
            </md-button>
        </div>
    
    </md-content>-->
</div>