<div  ng-controller="groupBoardController"  cg-busy="promices.groupTopics" >
    <md-toolbar class=""  >   
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="back" ng-click="historyBack()"> 
                <i class="material-icons">arrow_back</i>
            </md-button>   
            <span class="md-regular">{{title}}</span>
            <span flex></span>
            <img ng-src="{{group.thumbnail}}" class="avatar-small" ng-click="details()" />
            <md-button class="md-icon-button" aria-label="Menu" ng-click="newTopic()">
				<i class="material-icons">add</i>
			</md-button>
        </div>
    </md-toolbar>
	<md-content>
		<md-list flex>
			<md-subheader class="md-no-sticky">Topics {{topics.length}}</md-subheader>
			<md-list-item class="md-2-item" ng-repeat="item in topics" ng-click="openTopic(item)">
				<img ng-src="{{item.thumbnail}}" class="md-avatar" />
				<div class="md-list-item-text" layout="column">
					<h4>{{ item.name }}</h4>
					<span>{{ item.description }}</span>
					<md-divider md-inset></md-divider>
				</div>

			</md-list-item>

		</md-list>
	</md-content>
</div>