<div class="" ng-controller="groupsController" cg-busy="promises.init">
	<nav class="navbar navbar-inverse navbar-fixed-top fixed-top sticky-top bg-primary">
		<a class="navbar-brand" href="">Groups <span ng-show="groupList.length > 0" class="badge">({{groupList.length}})</span></a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<div class="" role="main">
		<ul class="list-group" >
			<li ng-repeat="g in groupList" ng-click="openBoard(g)" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="row">
					<div>
						<img ng-src="{{g.thumbnail || defaultGroupThumbnail}}" class="thumbnail sq sq-sm" />
					</div>
					<div>
						<div class="">
							<h5 class="mb-1">{{g.name}}</h5>
						</div>
						<p class="mb-1">{{g.description}} </p>
						<small class="text-muted">3 days ago</small>
					</div>
				</div>
			</li>
			<li class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="div-center"><a ng-click="createGroup()">New group</a></div>
			</li>
		</ul>
	</div>
</div>