<div  ng-controller="groupBoardController"  >
	<nav class="navbar navbar-inverse navbar-fixed-top fixed-top sticky-top bg-primary">
       <div class="navbar-header">
            <button class="float-left navbar-toggler" type="button" ng-click="historyBack()" >
                <span class="material-icons">arrow_back</span> 
            </button>
            <span class="navbar-brand" href="">{{title}}</span>
            <button class="float-right navbar-toggler" type="button" ng-click="editGroup()" >
                <span class="material-icons">edit</span> 
            </button>
       </div>
	</nav>
	<div class="" role="main">
		<div class="div-left" ><a class="" ng-click="editGroup()">Edit group</a> | <a class="" ng-click="newTopic()">New Topic </a></div>
		<p></p>
		<ul class="list-group" >
			<li>Topics {{topics.length}}</li>
			<li ng-repeat="item in topics" ng-click="openTopic(item)" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="row">
					<div>
						<img ng-src="{{item.thumbnail || defaultGroupThumbnail}}" class="thumbnail sq sq-sm" />
					</div>
					<div>
						<div class="">
							<h7 class="mb-1">{{item.name}}</h7>
						</div>
						<p class="mb-1">{{item.description}} </p>
						<small class="text-muted"></small>
					</div>
					<button class="float-right" type="button" ng-click="editGroup()" >
						<span class="material-icons">edit</span> 
					</button>
				</div>
			</li>
		</ul>
	</div>
</div>