<div layout="column" ng-controller="groupsController" cg-busy="promises.init">
	<header class="navbar navbar-default navbar-fixed-top navbar-inner">
		<div class="container-fluid">
			<div class="navbar-header">
				<ul class="nav navbar-nav navbar-left">
        			<li>
						<span>Groups</span>
					</li>
				</ul>
			</div>    
		</div>
	</header>
	<div layout="column" role="main" >

		<md-grid-list md-cols="5" md-cols-xs="2" md-cols-sm="4" md-cols-gt-md="5" 
			md-row-height="1:1" md-gutter="5px">
			<md-grid-tile ng-repeat="g in groupList"
					md-colspan-sm="1"
					ng-class="" 
					style="background-image: url({{g.thumbnail || defaultGroupThumbnail}}); background-size: cover;"
					class="md-whiteframe-5dp"
					>
					<md-button layout-align="center end" class="md-icon-button" aria-label="more" ng-click="openBoard(g)">
						<i class="material-icons">remove_red_eye</i>
					</md-button>
				<md-grid-tile-footer>
					<div layout="row" layout-align="start center" flex>
						<span flex class="md-subhead">{{g.name}}</span>
					</div>						
				</md-grid-tile-footer>
			</md-grid-tile>
		</md-grid-list>
	</div>

</div>