<div  ng-controller="groupBoardController"  >
	<nav class="navbar navbar-inverse navbar-fixed-top fixed-top sticky-top bg-primary">
		<span class="navbar-brand" href=""><a ng-click="historyBack()">
			<i class="material-icons">arrow_back</i></a> {{title}}</span>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<div class="" role="main">
		<ul class="list-group" >
			<li>Topics {{topics.length}}</li>
			<li ng-repeat="item in topics" ng-click="openTopic(item)" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="row">
					<div>
						<img ng-src="{{item.thumbnail || defaultGroupThumbnail}}" class="thumbnail sq sq-sm" />
					</div>
					<div>
						<div class="">
							<h7 class="mb-1">{{item.name}}</h7>
						</div>
						<p class="mb-1">{{item.description}} </p>
						<small class="text-muted">3 days ago</small>
					</div>
				</div>
			</li>
			<li class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="div-center"><a ng-click="createGroup()">New Topic</a></div>
			</li>
		</ul>
	</div>
</div>