
<div class="vertical-center col-lg-6 col-md-10 col-sm-10" ng-controller="accountController"   >
    <div class="div-center">
            
        <form name="signin" >
            <cp-logo size="75"></cp-logo>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" ng-model="loginModel.userName" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
            </div>
            
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-asterisk"></span></span>
                <input type="text" ng-model="loginModel.password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
            </div>
            <button type="button" class="btn btn-success" ng-click="signIn()">Ok</button>
            <p/>
            <a  ui-sref="account.forgotpassword">Forgot password? Click to reset.</a> 
            <p/>
            <a ui-sref="account.register" >Signup</a>
        </form>

    </div>
</div>