<div class="vertical-center col-lg-6 col-md-10 col-sm-10" ng-controller="registerController">
	<div class="div-center">
		<!--<img src="./images/cp.png"></img>-->
		<cp-logo size="75"></cp-logo>
		<h4>Sign up!</h4>
		<form name="register">
			<div class="form-group">
					<label>First name</label>
					<input type="text" class="form-control" ng-model="registerModel.fn"  />
			</div>
			<div class="form-group">
					<label>Last name</label>
					<input type="text" class="form-control" ng-model="registerModel.ln"  />
			</div>
			<div class="form-group">
					<label>Mobile number</label>
					<input type="text" class="form-control" ng-model="registerModel.mobileNo"  />
			</div>
			<div class="form-group">       
					<button type="button" class="btn btn-success" ng-click="saveRegistration()">Join</button>
			</div>
			<div class="form-group">
					<a type="button" style="btn btn-warning"> Already registered?</a>
			</div>
		</form>  
	</div>
</div>